.main-wrapper {
  background-color: #343a40;
  margin-top: 5.9rem;
  padding-top: 3.3rem;
  padding-bottom: 2rem;
  min-height: 90vh;
}
.main-wrapper .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #343a40;
}
